<h1>Local Weather</h1>

<%= form_with url: weather_show_path, local: true, method: :get do |form| %>
  <div class="field">
    <%= form.label 'Local forecast by "City", "City, St" or ZIP code:' %><br />
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>

